.about {  
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #dadada;
  background: #313338;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 800px;
}

.about p {
    color: #dadada;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}