.dashboard {
    margin: 2em;
    padding-bottom: 2em;
    border-radius: 10px;
    color: #dadada;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #313338;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

.dashboard p {
    color: #dadada;
    margin-bottom: 1em;
}

.noposts {
    margin: 1em auto;
    text-align: center;
    color: #dadada; /* Cor do texto */
    background: #313338; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
    width: 400px;
}

.noposts p {
    margin-bottom: 1.5em;
    color: #dadada;
}

.noposts a {
    padding: 10px 25px;
}

.post_header, .post_row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
}

.post_header {
    font-weight: bold;
    border-bottom: 2px solid #CCC;
}

.post_row {
    align-items: center;
    border-bottom: 1px solid #eee;
    height: fit-content;
}

.post_row p {
    color: #dadada;
}

.post_row button,
.post_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #000;
}

.post_row button:hover,
.post_row a:hover {
    background-color: #000;
}