body {
  background-color: #000;
  padding: 0;
  margin: 0;
  font-family: "inter";
  /* Configuração da imagem de fundo */
  background-image: url('./images/Fundo_ME.png'); /* Caminho para sua imagem */
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-position: 0 0; /* Centraliza a imagem */
  animation: moverFundo 40s linear infinite; /* animação de fundo */
  background-repeat: repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

@keyframes moverFundo {

  from {
    background-position: 0 0;
  }

  to {
    background-position: 1000px 1000px;
  }

}

input::placeholder,
textarea::placeholder {
  color: #AAA;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: 0.4s; /* Transição para suavizar efeitos */
  font-size: 1em;
  cursor: pointer;
  font-family: "inter";
}

a:visited {
  color: inherit; /* Evita a mudança para roxo */
}

/* form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os filhos horizontalmente */
  width: 100%; /* O formulário ocupa toda a largura disponível */
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%; /* A largura da label */
  text-align: left; /* Texto alinhado à esquerda */
  margin: 0.5em auto; /* Centraliza horizontalmente */
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  width: 100%; /* Ocupa toda a largura da caixa */
  padding: 0.7em; /* Aumenta o espaçamento interno */
  border: 1px solid #1E1F22; /* Cor da borda */
  border-radius: 16px; /* Bordas arredondadas */
  background-color: #1E1F22; /* Cor de fundo */
  color: #dadada; /* Cor do texto */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  resize: none;
}

.btn {
  background-color: #313338;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #dadada;
  border: 1px solid #000;
  font-size: 0.9em;
}

.btn.btn-outline-light {
  background-color: transparent;
  border-radius: 0;
  color: #dadada;
  border: 1px solid #dadada;
}

.btn:hover {
  background-color: #0f730c;
  color: #fff;
}

.btn.btn-outline:hover {
  background-color: #000;
}

.btn.btn-outline-light:hover {
  background-color: #bbb;
}

.btn.btn.btn-danger {
  background-color: transparent;
  border-radius: 0;
  color: #dadada;
  border: 1px solid #dadada;
  height: 36px;
  font-size: .7em;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #aaa;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}